---
---
{% include fragment-pagebegin.html %}
{% assign excludexml = site.data.info.excludexml | downcase | slice: 0 %}
{% assign excludejson = site.data.info.excludejson | downcase | slice: 0 %}
{% assign excludettl = site.data.info.excludettl | downcase | slice: 0 %}
{% assign excludemaps = site.data.info.excludemap | downcase | slice: 0 %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
 
  </ul>
  <a name="root"> </a>
  <h2 id="root">{{[title]}}资源的结构定义</h2>

{% include fragment-pageend.html %}
